# Python
*.pyc
*~
__pycache__

# Env
venv/

# Database
db.sqlite3

# Media
/media/

# Settings
project/settings/secret_key.py
project/settings/local.py

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace