# Python
*.pyc
*~
__pycache__

# Database
db.sqlite3

# Env
venv/

# Deploy dir
deploy/

# Media
media/

# Settings
project/settings/local.py

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace