{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block content %}

<!-- Body Steam Field -->
{% for block in page.body %}
{% include_block block %}
{% endfor %}
<!-- End Body Stream Field -->


<section id="contact" class="container p-5">
  <div class="row py-5">
    <h1 class="mb-3 fs-1 text-dark mb-4 text-center" style="font-weight: 700;">
      Свяжитесь со мной
    </h1>
    <h3 class="mb-4 fs-4 text-dark mb-4" style="font-weight: 200;">Для заказа фотосессии, предложения или любого другого
      вопроса, пожалуйста, свяжитесь со мной по этим контактам.</h3>
    <div class="col-md-6 mb-4">
      <p class="mb-4 fs-3 text-dark mb-4" style="font-weight: 600;">Контакты:</p>
      <ul>
          <p><strong>Phone:</strong> +7 3518 512254</p>
          <p><strong>Email:</strong> mari.rast@gmail.com</p>
          <a class="btn btn-primary me-2 mb-2" style="background-color: #25d366;" href="#!" role="button">
            <i class="fab fa-whatsapp me-2"></i>
            Whatsapp
          </a>
          <a class="btn btn-primary me-2 mb-2" style="background-color: #4c75a3;" href="#!" role="button">
            <i class="fab fa-telegram me-2"></i>
            Telegram
          </a>
      </ul>
    </div>
    <div class="col-md-6 mb-4">
      <hr>
      <p class="mb-4 fs-3 text-dark mb-4" style="font-weight: 600;">Социальные сети:</p>
      <a style="color: #4c75a3;" href="#!" role="button">
        <i class="fab fa-vk fa-lg p-2"></i>
      </a>
      <a style="color: #ac2bac;" href="#!" role="button">
        <i class="fab fa-instagram fa-lg p-2"></i>
      </a>
      <a style="color: #000000;" href="#!" role="button">
        <i class="fab fa-tiktok fa-lg p-2"></i>
      </a>
    </div>
  </div>
</section>

{% endblock content %}