{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home/home.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home/aos.css' %}">
{% endblock %}

{% block content %}

<!-- Hero Section -->
{% include "home/hero_section.html" %}
<!-- END Hero Section -->

<main id="main">

  <!-- About Section -->
  {% include "home/about_section.html" %}
  <!-- END About Section -->

  <!-- Work Section -->
  {% include "home/work_section.html" %}
  <!-- END Work Section -->

  <!-- Contact Section -->
  {% include "home/contact_section.html" %}
  <!-- END Contact Section -->

</main>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/home/aos.js' %}"></script>
<script>
  (function () {
    // Animation on scroll
    window.addEventListener('load', () => {
      AOS.init({
        duration: 1000,
        easing: 'ease-in-out',
        once: true,
        mirror: false
      })
    });
  })()

</script>
{% endblock %}
