<!-- Footer -->
<footer class="bg-dark text-lg-start pt-5">
  <div class="col-md-12 text-center pb-4 text-white d-flex align-items-end d-flex justify-content-center">
    <a href="#" class="text-white">
      <h3>{{ settings.site_settings.FooterSettings.back_to_top }}</h3>
    </a>
  </div>
</footer>
<!-- END Footer -->

<!-- Preloader -->
<div id="preloader"></div>

<script>
  (function () {
    // Easy selector helper function
    const select = (el, all = false) => {
      el = el.trim()
      if (all) {
        return [...document.querySelectorAll(el)]
      } else {
        return document.querySelector(el)
      }
    }
    // Preloader
    let preloader = select('#preloader');
    if (preloader) {
      window.addEventListener('load', () => {
        preloader.remove()
      });
    }
  })()
</script>
<!-- END Preloader -->